<h1>Show All the Todo's</h1>

<p>
  Name: <%= @todo.name %>
</p>

<p>
  Description: <%= @todo.description %>
</p>

<%= link_to "Edit", edit_todo_path(@todo) %>
<%= link_to "Listing Page", todos_path %>